<!-- src/main/resources/templates/paciente/listar.html -->
<div>
    <h2>Pacientes</h2>
    <a href="/pacientes/crear.html" class="btn-crear">Crear nuevo Paciente</a>
    <table class="tabla-pacientes">
        <thead>
        <tr>
            <th>N°</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody id="pacientes-body">
            //lista-de-pacientes
        </tbody>
    </table>
</div>
<script src="/listar-body.js"></script>

